<div class="container">
  <div
    (scroll)="handleScroll($event)"
    #slideshow
    class="slideshow"
    [ngStyle]="{ height: slideShowHeight }"
  >
    <img
      #slideImgs
      class="slide"
      *ngFor="let slide of slides"
      [src]="slide.imgUrl"
      [alt]="slide.caption"
    />
  </div>
  <div class="nav-section">
    <span
      class="slide-button"
      *ngFor="let slide of slides; let i = index"
      [ngClass]="{ 'slide-button-selected': i === selectedIndex }"
    ></span>
  </div>
</div>
